# ignore all files
*

# scan all dirs
!*/

# C/C++
!*.cpp
!*.c
!*.h
!*.def
!*.lib
!*.rc

# Build
!*.cmake

# Documents
!*.html
!*.png
!*.css
!*.jpg
!*.py
!*.rst
!.nojekyll

# Internationalization
!*.rcconfig
!*.bat

# Sample config files
!/sample-config/*.throtator

!*.txt
!*.md
!Makefile

# Intermediate files
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
_build/

!.gitignore
!.gitattributes

# Submodules
!/nlohmann-json
!/fmtlib
!/imgui

# Appveyor
!appveyor.yml

