# ignore all files
*

# scan all dirs
!*/

# C/C++
!*.cpp
!*.c
!*.h
!*.def
!*.lib
!*.rc

# Build
!*.cmake

# Documents
!*.html
!*.png
!*.css
!*.jpg
!*.py
!*.rst
!.nojekyll

# Internationalization
!*.rcconfig
!*.bat

# Sample .ini files
!/sample_ini/*.ini

!*.txt
!*.md
!Makefile

# Intermediate files
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
_build/

!.gitignore
