@charset "UTF-8";

body {
    font-family: 'Hiragino Kaku Gothic Pro','ƒqƒ‰ƒMƒmŠpƒS Pro W3',"ƒƒCƒŠƒI", Meiryo,"‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic";
}

h1 {
    border-bottom: 2px solid black;
}

pre {
    border: double;
    font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
}
